img {
  width: 250px;
  height: 250px;
  margin-bottom: 0px;
}

.recipe-item {
  padding: 20px 20px 0px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  color: #fff;
  margin: 0.5rem auto;
  min-width: 290px;
}

.container {
  margin: auto; /* gallery centered*/
  display: flex; /*figures align in a row */
  flex-wrap: wrap; /* figures wrap up and move items to next row when the row is full*/
  justify-content: space-between; /*same space btw elems*/
  margin-top: 55px;
}

h3 {
  text-align: center;
  font-family: 'Lucida Console';
  font-style: italic;
  color: black;
  font-size: 24px;
  padding: 0px 0px 0px 0px;
}

.recipe-item:hover {
  background-color: darkgray;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
