h1 {
  text-align: center;
}
img {
  max-width: 90%;
  margin: auto;
  display: block;
  max-height: 90vh; /* max 90% of window */
  margin-top: 5%;
}

h3 {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: normal;
}

h2 {
  color: black;
  text-align: center;
}

.photoContainer {
  background-color: lightcoral;
}
.next,
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.photoShown {
  display: none;
}
.top-padding {
  height: 100px;
  width: 100%;
}
